{% extends "base.html" %}
{% include "css/details.css" %}
{% block content %}
{% for obj in detail_list %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{ obj.image.url }}" width="100%">
        </div>
        <div class="col-6">
            <h1>{{ obj.title }}</h1>
            <h4>{% lorem %}</h4>
            <h2>&#8377; {{ obj.price }}</h2>
            <a href="{% url "update" obj.slug %}" class="btn btn-success">Add to Cart</a>
            <a href="#" class="btn btn-danger">Wishlist</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}