<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #dae0e5;">
    <div class="container">
        <a class="navbar-brand" href='{% url "shop" %}'>BUYIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Wishlist</a>
                <a class="nav-item nav-link" href='{% url "cart" %}'><i class="fa fa-shopping-cart"></i><span> [0]</span></a>
            </div>
        </div>
    </div>
</nav>